@font-face {
  font-family: 'Dinosaur';
  src: url('../fonts/dinosaur.ttf') format('truetype');
}

$hovergreen: #94c64d;

.container {
  width: 1200px;
  padding: 0;
}
.overlay {
  background-color: rgba(96, 93, 97, 0.6);
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  border: 1px solid red;
}

.dino-animation {
  border: 2px solid green;
  width: 1200px;
  height: 550px;
  position: relative;
}

#dino {
  position: absolute;
  bottom: 0;
  width: 30%;
  left: 10%;
}

.letter {
  padding: 10px;
  padding-top: 24px;
  font-family: 'Dinosaur', sans-serif;
  font-size: 52px;
  display: inline-block;
}

.blank {
  vertical-align: top;
  border-bottom: 3px solid black;
  width: 82px;
  height: 75px;
  margin: 0 5px 8px 5px;
  padding-bottom: 60px;
}

#letter-spaces {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#letter-box, #letter-box2, #letter-box3 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.choose-letter {
  margin: 4px;
  width: 100px;
  height: 80px;
  text-align: center;
  &:hover {
    cursor: pointer;
    color: $hovergreen;
  }
}

.clicked {
  color: white;
  pointer-events: none;
}

#wrong-number {
  border: 3px solid blue;
  padding: 5px;
}

#you-lose, #you-win {
  border-bottom: 2px dashed red;
  font-size: 30px;
}

#comet-8 {
  
}
