@font-face {
  font-family: 'Dinosaur';
  src: url('../fonts/dinosaur.ttf') format('truetype');
}

$hovergreen: #94c64d;
$darkred: #b10019;

.container {
  width: 1200px;
  padding: 0;
  // border: 2px solid blue;
}
.overlay {
  background-color: rgba(96, 93, 97, 0.6);
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  border: 1px solid red;
}

.dino-animation {
  width: 1200px;
  height: 550px;
  position: relative;
  overflow: hidden;
}

#dino {
  position: absolute;
  bottom: 0;
  width: 30%;
  left: 10%;
}

#comet {
  display: none;
  font-size: 70px;
  position: absolute;
  z-index: -1;
}

.comet-1 {
  left: 1050px;
  bottom: 480px;
  transform: rotate(0deg);
  img {
    height: 75px;
  }
}

.comet-2 {
  left: 900px;
  bottom: 450px;
  transform: rotate(0deg);
  img {
    height: 120px;
  }
}

.comet-3 {
  left: 725px;
  bottom: 390px;
  transform: rotate(355deg);
  img {
    height: 200px;
  }
}

.comet-4 {
  left: 600px;
  bottom: 360px;
  transform: rotate(347deg);
  img {
    height: 275px;
  }
}

.comet-5 {
  left: 420px;
  bottom: 345px;
  transform: rotate(340deg);
  img {
    height: 340px;
  }
}

.comet-6 {
  left: 280px;
  bottom: 360px;
  transform: rotate(330deg);
  img {
    height: 450px;
  }
}

.comet-7 {
  left: 30px;
  bottom: 470px;
  transform: rotate(320deg);
  img {
    height: 800px;
  }
}

.comet-8 {
  left: 30px;
  bottom: 270px;
  transform: rotate(320deg);
  img {
    height: 800px;
  }
}

#explosion {
  display: none;
  z-index: 1;
  position: absolute;
  right: 140px;
  top: -160px;
  img {
    height: 1300px;
  }
}

.letter {
  padding: 10px;
  padding-top: 24px;
  font-family: 'Dinosaur', sans-serif;
  font-size: 52px;
  display: inline-block;
}

.blank {
  vertical-align: top;
  border-bottom: 3px solid black;
  width: 82px;
  height: 75px;
  margin: 0 5px 8px 5px;
  padding-bottom: 60px;
}

#letter-spaces {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#letter-box, #letter-box2, #letter-box3 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.choose-letter {
  margin: 4px;
  width: 100px;
  height: 80px;
  text-align: center;
  &:hover {
    cursor: pointer;
    color: $hovergreen;
  }
}

.clicked {
  color: white;
  pointer-events: none;
}

#wrong-number {
  padding: 5px;
}

#you-lose, #you-win {
  position: fixed;
  display: none;
  z-index: 20;
  width: 30%;
  left: 50%;
  top: 30%;
  transform: translate(-80%, 0);
  // margin: 0 auto;
}

#you-win {
  top: 50%;
  transform: translate(-50%);
}

#you-lose h1, #you-win h1 {
  font-family: 'Dinosaur', sans-serif;
  font-size: 70px;
  text-align: center;
  color: black;
  text-shadow: 3px 3px $darkred;
}

#you-win h1 {
  text-shadow: 3px 3px orange;
}

#you-lose p {
  padding: 20px;
  background-color: white;
  font-size: 30px;
  font-family: 'Arvo', serif;
  border-radius: 20px;
  border: 4px solid $darkred;
  text-align: center;
}

.btn-danger {
  font-family: 'Arvo', serif;
  display: block;
  color: black;
  width: 100%;
  font-size: 24px;
  background-color: $darkred;
  &:hover{
    background-color: #e76709;
  }
}

#you-win p {
  padding: 20px;
  background-color: white;
  font-size: 30px;
  font-family: 'Arvo', serif;
  border-radius: 20px;
  border: 4px solid orange;
  text-align: center;
}

.win {
  background-color: orange;
}


.btn:focus,.btn:active {
   outline: none !important;
}

#dino-party{
  position: absolute;
  right: 0px;
  z-index: -1;
  display: none;
}

#comet-8 {

}
