@font-face {
  font-family: 'Dinosaur';
  src: url('../fonts/dinosaur.ttf') format('truetype');
}

.overlay {
  background-color: rgba(96, 93, 97, 0.6);
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  border: 1px solid red;
}

.letter {
  padding: 10px;
  padding-top: 22px;
  font-family: 'Dinosaur', sans-serif;
  font-size: 40px;
  display: inline-block;
}

.choose-letter {
  border: 4px solid orange;
  margin: 4px;
  &:hover {
    cursor: pointer;
  }
}

.clicked {
  background-color: purple;
}

.blank {
  vertical-align: top;
  border-bottom: 3px solid black;
  width: 62px;
  height: 75px;
  margin: 0 5px 8px 5px;
}
//
// .yellow {
//   background-color: yellow;
// }

img {
  height: 400px;
  width: auto;
}

.unclickable {

}
